.tableOptions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex: 0 0 3em;
  margin: 1em;
}

mat-radio-group{
  display: grid;
  .protectRadioButton{
    margin-top: 0.5em;
  }
  .bypassRadioButton{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

button {
  margin-left: 1em;
  background-color: #209e91;
  color: #fff;
}
